.table-header{
    border: 0px;
    width: 100%;
    background:#f3971b;
}
.table-dua{
    border: 0px;
    width: 85%;
    align:center;
}
.table-tiga{
    border: 0px;
    width: 100%;
    background: #292929;
}
.table-lima{
    border: 0px;
    width: 100%;
    background-color: #353535;
}
.table-enam{
    border: 0px;
    width: 100%;
    align-items: center;
}